/* 
   ******************************************************* WIDTH *******************************************************
*/

/* 
    ______________________________ MAX-WIDTH 1300px ______________________________
*/
@media only screen and (max-width: 1300px) {

    /*SECTION A PROPOS*/
    .background {
        background-size: 150%;
    }
    /*SECTION A PROPOS*/
    .block-corine {
        padding: 0 0 calc(130px + 0.6vw) 0;
        margin: 0 calc(1px + 7vw) 0 0;
    }


    .h1-a-propos {
        font-size: 22px;
    }

    .ligne-presentation {
        width: 342px;
    }

    .h2-a-propos {
        font-size: 13px;
    }

    .photo {
        width: 90px;
        height: 70px;
    }

    .img-corine {
        top: -56px;
        max-width: 90px;
    }

    .p-presentation {
        font-size: 12px;
        line-height: 24px;
    }

}

/* END MAX-WIDTH 1300px ______________________________*/


/* 
    ______________________________ MAX-WIDTH 768px ______________________________
*/
@media only screen and (max-width: 799px) {

    /*main and section*/
    /*Passe la gestion du scroll en css (trop de problèmes de compatibilité navigateur avec tactile en javascript)*/
    main {
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 100%;
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    /*NAVBAR*/
    .header-nav {
        padding: 5px 10px 5px 20px;
        align-items: center;
    }

    .nav-main {
        background-color: transparent;
    }

    .nav-main-ul {
        position: fixed;
        padding: 10px 0;
        left: -105%;
        top: 59px;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        z-index: 1000;
        background-color: var(--white);
    }

    .nav-main-ul.active {
        left: 0;
    }

    .nav-main-li {
        margin: 5px 0;
    }

    .nav-main-li-span {
        display: none;
    }

    .burger {
        display: block;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-main a.active {
        box-shadow: none;
    }


    /*SECTION HOME*/
    .background {
        background-size: 190%;
    }

    /*SECTION GALERIE*/
    .prev:hover,
    .next:hover {
        color: var(--text-white);
        box-shadow: none;
    }

    /* Slider position flèches et groupes de carrés*/
    .window-gal, .window-1 {
        margin-top: 14%;
    }

    .square-txt-galerie {
        opacity: 1;
    }
    
    .square-gal:before {
        opacity: 0.6;
    }
    
}

/* END MAX-WIDTH 768px ______________________________*/


/* 
    ______________________________ MAX-WIDTH 500px ______________________________
*/
@media only screen and (max-width: 500px) {

    /*SECTION HOME*/
    .background {
        background-size: 270%;
    }

    /*SECTION A PROPOS*/
    #a-propos {
        justify-content: center;
    }

    .block-corine {
        margin: 0;
    }


    .h1-a-propos {
        font-size: 20px;
    }

    .ligne-presentation {
        width: 320px;
    }

    .h2-a-propos {
        font-size: 11px;
    }

    .p-presentation {
        font-size: 11px;
        line-height: 22px;
    }

    /*SECTION GALERIE*/
    /* Slider position flèches et groupes de carrés*/
    .window-gal, .window-1 {
        margin-top: 17%;
    }

    /*SECTION CONTACT*/
    .container-contact {
        grid-template-rows: 40px 80px 1fr 40px;
        grid-template-areas:
            "block-titre-contact-bis block-titre-contact-bis block-titre-contact-bis"
            "block-blue-bis block-blue-bis block-blue-bis"
            "block-form-bis block-form-bis block-form-bis"
            "block-footer block-footer block-footer";
    }

    .input-contact {
        border: 2px double var(--white);
        border-radius: 5px;
        padding: 10px;
    }

    .btn-contact {
        font-size: calc(10px + 0.3vw);
        padding: 5px 30px;
        margin-top: 10px;
    }

}

/* END MAX-WIDTH 500px ______________________________*/


/* 
    ______________________________ MAX-WIDTH 360px ______________________________
*/
@media only screen and (max-width: 360px) {

    /* SECTION HOME */
    .p-home {
        font-size: 17px;
    }

    .background {
        background-size: 270%;
    }

    /* SECTION GALERIE */
    /* Slider position flèches et groupes de carrés*/
    .window-gal, .window-1 {
        margin-top: 20%;
    }

    /* SECTION CONTACT */
    .block-form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }

    .block-avis {
        padding: 5px 10px 5px 0;
    }

}

/* END MAX-WIDTH 360px ______________________________*/


/* 
   ******************************************************* END WIDTH *******************************************************
*/




/* 
   ******************************************************* HEIGHT *******************************************************
*/


/* 
    ______________________________ MAX-HEIGHT 599px ______________________________
*/

@media only screen and (max-height: 599px) {

    /* NAVBAR*/
    .logo {
        width: calc(70px + 4.5vw);
    }

    /* SECTION HOME */
    .p-home {
        margin-bottom: 11vh;
    }

    /* SECTION GALERIE */
    /* Slider position groupes de carrés*/
    .bloc-dot {
        top: 15%;
    }

    .prev, .next {
        top: 43%;
    }

    .window-gal, .window-1 {
        margin-top: 6%;
    }

    .square-gal {
        width: calc(50px + 5vw);
        height: calc(50px + 5vw);
    }

    .square {
        width: calc(35px + 5vw);
        height: calc(35px + 5vw);
    }

    /* end */

    .window-1 p {
        font-size: calc(8px + 0.4vw);
        line-height: 11px;
    }

    .img-modal-slide-verti {
        width: calc(200px + 1vw);
        height: auto;
    }

    .img-modal-slide-spec {
        width: calc(150px + 1vw);
        height: auto;
    }

    .block-text {
        padding-top: 0;
    }

     /*SECTION A PROPOS*/
     #a-propos {
        justify-content: flex-end;
        align-items: center;
    }

    .block-corine {
        padding: 2px;
        margin: 30px calc(1px + 7vw) 0 0;
        padding-bottom: 120px;
    }

    .block-titre {
        width: 100%;
    }

    .h1-a-propos {
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 1px;
    }

    .ligne-presentation {
        width: 300px;
        height: 1px;
        background-color: var(--black);
        margin: 4px 0 8px;
    }

    .h2-a-propos {
        font-size: 8.5px;
        font-weight: normal;
        letter-spacing: 2px;
    }

    .block-photo-text {
        padding: 35px 2px 2px;
    }

    .photo {
        position: relative;
        width: 60px;
        height: 50px;
        float: left;
        margin: 0 0.5em 0.5em 0;
    }

    .img-corine {
        position: absolute;
        max-width: 55px;
        top: -30px;
        left: 0;
        height: auto;
    }

    .p-presentation {
        width: 100%;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0;
    }
    
    /* SECTION CONTACT */
    .container-contact{
        padding: 0;
        gap: 3px;
    }

    .block-form {
        padding-top: 0;
        justify-self: center;
    }

    .p-contact {
        font-size: 14px;
    }

    .contactForm {
        padding: 10px 5px;
    }

    .labelContact {
        font-size: calc(8px + 0.3vw);
    }

    .input-contact {
        border: 2px double var(--white);
    }

    #nom,
    #email {
        font-size: calc(7px + 0.3vw);
        height: 25px;
        padding: 5px;
    }

    #message {
        height: 60px;
        padding: 5px;
    }

    .btn-contact {
        font-size: calc(10px + 0.3vw);
        padding: 4px 10px;
        margin-top: 10px;
    }
}

/* END MAX-HEIGHT 599px______________________________*/


/* 
    ______________________________ MAX-HEIGHT 500px ______________________________
*/
@media only screen and (max-height: 500px) {

    /* NAVBAR */
    .header-nav {
        padding: 4px 10px 2px 20px;
    }

    .nav-main {
        padding: 2px;
    }
    
    .logo {
        width: calc(50px + 4.5vw);
    }

    .nav-main-ul {
        top: 38px;
    }
    
    /* SECTION GALERIE */
    .dot {
        font-size: 12px;
    }

    .square-gal {
        width: calc(40px + 5vw);
        height: calc(40px + 5vw);
    }

    .square {
        width: calc(35px + 5vw);
        height: calc(35px + 5vw);
    }
    /* end Slider position*/

    /*SECTION A PROPOS*/
    .block-corine {
        padding-bottom: 50px;
    }

    /*SECTION CONTACT*/
    .block-avis {
        padding: 5px calc(1px + 7vw) 2px 0;
    }
    
    .p-avis {
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 2px;   
    }
    
    .contactForm {
        display: flex;
        justify-content: space-around;
        padding: 10px 5px;
        gap:5px;
    }

    .champ-wrap {
        width: 48%;
    }
    
    .labelNom, .labelMessage {
        margin-top: 0;
    }

    #message {
        height: calc(60px + 6vw);
    }

    #nom,
    #email {
        height: calc(20px + 1vw);
    }
}

/* END MAX-HEIGHT 500px______________________________*/


/* Taille (à peu près) avec le menu navigateur firefox en mode landscape (320 - 55 = 265)*/
/* 
    ______________________________ MAX-HEIGHT 320px ______________________________
*/

@media only screen and (max-height: 320px) {

    /*SECTION HOME*/
    .p-home {
        margin-bottom: 10vh;
    }

    /*SECTION A PROPOS*/
    .block-corine {
        padding-bottom: 20px;
    }

    /*SECTION A GALERIE*/
    .square {
        width: calc(30px + 5vw);
        height: calc(30px + 5vw);
    }

}

/* END MAX-HEIGHT 320px______________________________*/