.p-home {
    font-family: var(--font-3);
    font-size: calc(13px + 1.5vw);
    color: var(--text-darkGrey);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* margin-bottom: 13vh; */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/TableauCadragePara.jpg');
    background-size: 100%;
    z-index: -1;
}

.container-home {
    width: 100%;
    height: 100vh;
}

.item:nth-child(1),
.item:nth-child(3) {
    background-color: var(--white);
}

.item:nth-child(2) {
    height: calc(200px + 14vw);
    box-shadow:  inset 0 -5px 10px rgba(0, 0, 0, 0.4), 
    inset 0 5px 10px rgba(0, 0, 0, 0.4);
}

.p-home span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow-wrap: normal;
}

.p-home span.active {
    animation: smoke 3s linear forwards;
    /*Par défaut l'origine de transform est center*/
    transform-origin: bottom;
}

@keyframes smoke {
    0% {
        opacity: 1;
        color: rgb(167, 167, 167);
        filter: blur(0);
        transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
    }

    75% {
        opacity: 1;
        color: white;
        /*Lettres partent en fumée plus tard*/
        /* filter: blur(0); */
        pointer-events: none;
    }

    100% {
        opacity: 0;
        color: white;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}