section {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.section__div--parallaxe {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/fondParallaxe.jpg');
    background-size: 105%;
    z-index: -1;
}

.section__div--container {
    width: 100%;
    height: 100vh;
}

.section__div--item:nth-child(1),
.section__div--item:nth-child(3) {
    height: 23%;
    background-color: var(--white);
}

.section__div--item:nth-child(2) {
    height: 54%;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.4),
        inset 0 5px 10px rgba(0, 0, 0, 0.4);
}