.section__p {
    font-family: var(--font-3);
    font-size: calc(15px + 1.5vw);
    color: var(--text-darkGrey);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* margin-bottom: 13vh; */
}

.section__span--letter {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow-wrap: normal;
}

.section__span--letter:nth-child(1) {
    letter-spacing: -5px;
}

.section__span--letter.active {
    animation: smoke 3s linear forwards;
    /*Par défaut l'origine de transform est center*/
    transform-origin: bottom;
}


@keyframes smoke {
    0% {
        opacity: 1;
        color: rgb(167, 167, 167);
        filter: blur(0);
        transform: translateX(0) translateY(0px) rotate(0deg) scale(1);
    }

    75% {
        opacity: 1;
        color: white;
        /*Lettres partent en fumée plus tard*/
        /* filter: blur(0); */
        pointer-events: none;
    }

    100% {
        opacity: 0;
        color: white;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}